#chartNo1 {
  max-width: 650px;
  margin: 35px auto;
}

.avatar {
  position: relative;
  width: 2.375rem;
  height: 2.375rem;
  cursor: pointer;
  .avatar-initial {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #8592a3;
    font-weight: 700;
  }
}
.bg-label-primary {
  background-color: #e7e7ff !important;
  color: #696cff !important;
}
.bg-label-info {
  background-color: #d7f5fc !important;
  color: #03c3ec !important;
}
.bg-label-success {
  background-color: #e8fadf !important;
  color: #71dd37 !important;
}
.bg-label-secondary {
  background-color: #ebeef0 !important;
  color: #8592a3 !important;
}

.charts-data {
  &.row-2-data {
    .card-data-list {
      .card-data-item {
        display: flex;
        &:not(:last-child) {
          border-bottom: 1px solid #f2f2f2;
        }
        padding: 20px 0;
      }
    }
  }
}
