@use "../variables/variables" as var;
h3 {
  font-size: calc(18px + 0.1vw);
  // color: #fff;
}

li {
  list-style: none;
}
/* --------------------------- */
.text-d {
  color: var.$dpn_1;
}

.text-a {
  color: var.$dpn_2;
}

.text-r {
  color: var.$dpn_3;
}

.text-p {
  color: var.$dpn_4;
}

.text-a2 {
  color: var.$dpn_5;
}

.text-n {
  color: var.$dpn_6;
}

// ============================
// ============================
// ============================

.page-layout-dpn26x58 {
  align-items: stretch;
  display: flex;
  width: 100%;
  .main-content-area {
    flex: 1 1 100%;
  }
}
