$body-bg: #f9f9f9;
$white: #fff;
$dark-black: #000000;
$primary: #696cff;
$theme-blue: #0f355e;
$f2f2: #f2f2f2;
$clr333: #f2f2f2;
$dpn_1: #0084c0;
$dpn_2: #f47920;
$dpn_3: #00ad4d;
$dpn_4: #ffdd0c;
$dpn_5: #7b439a;
$dpn_6: #00c2f3;

// border
$border-color: #dee2e6;

$b-radius-14: 14px;
$b-radius-0: 0;
